* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #30a8a8;
  color: white;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.title {
  font-family: "Righteous", cursive;
  font-size: 40px;
  padding: 15px 30px;
  margin-bottom: 10px;
}

li {
  margin: 15px 0;
}

input {
  margin-right: 15px;
}

#Quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 15px;
  border-radius: 15px;
  background-color: #181860;
  width: 500px;
  min-height: 300px;
  position: relative;
  padding: 30px 35px;
}

.btn-grid {
  display: flex;
  flex-direction: column;
}

.start-btn,
.next-btn {
  background-color: #d81860;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  margin-left: 20px;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  color: white;
  outline: none;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

#question {
  margin-bottom: 25px;
}

.hide {
  display: none;
}
